.fullpage{
    margin: auto;
    width: 900px;
}

p, h1, h2 {
    margin:0;
    padding:0;
}

body{
    background-color: #461E0F;
}

h1{
    color:white;
    font-size: 3rem;
    margin-bottom: 10px;
}

h2{
    font-size: 2rem;
    margin-bottom: 0px;
}

h1, h2, p{
    font-family:Sans Serif;
}

nav{
    width: 900px;
    background-color: #2B140D;
    padding:25px 0px;
    margin-bottom: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    padding-left:40px;
    margin-top:35px;
}

aside{
    background-image: url("bg.jpg");
    height: 150px;
    width: 900px;
}

aside p, aside h2{
    color: white;
    padding: 0px 15px;
}

aside h2{
    padding-top: 20px;
}

aside p{
    line-height: 25px;
    font-size: 1rem;
}

#left{
    margin: 25px 0px; 
    background-color: #98ACAA;
    float: left;
    height: 600px;
    width: 200px;
}

#left a{
    color: white;
    text-decoration: none;
}

#right{
    padding:15px;
    margin-top:25px;
    margin-bottom:15px;
    height: 570px;
    width: 670px;
    float: left;
    background-color: #DBD8C6;
}

#right h2{
    color: #496561;
}

ul{
    margin:0px;
    padding:0px;
    margin-top:25px;
    list-style: none;
}

li{
    padding: 5px 20px 5px 30px;
}

hr{
    margin: none;
    width:150px;
}

footer{
    width: 900px;
    clear: both;
    padding: 5px;
    background-color: #2B140D;
}

footer p{
    color: white;
    text-align: center;
    font-size: .75em;
}


